<h2>Extra</h2>
<div class="bio1">
	<div class="height">
		<span class="bio-details">Height</span>
		<input
			type="text"
			name="data.details.height.value"
			placeholder="Height"
			value="{{data.details.height.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="weight">
		<span class="bio-details">Weight</span>
		<input
			type="text"
			name="data.details.weight.value"
			placeholder="Weight"
			value="{{data.details.weight.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="hair">
		<span class="bio-details">Hair Color</span>
		<input
			type="text"
			name="data.details.haircolor.value"
			placeholder="Hair Color"
			value="{{data.details.haircolor.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="eye">
		<span class="bio-details">Eye Color</span>
		<input
			type="text"
			name="data.details.eyecolor.value"
			placeholder="Eye Color"
			value="{{data.details.eyecolor.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="birthplace">
		<span class="bio-details">Birthplace</span>
		<input
			type="text"
			name="data.details.birthplace.value"
			placeholder="Birthplace"
			value="{{data.details.birthplace.value}}"
			data-dtype="String"
		/>
	</div>
</div>
<div class="bio2">
	<div class="bio2title">
		<span class="extra-details">Allies</span>
		<input
			type="text"
			name="data.details.allies.value"
			placeholder="Allies"
			value="{{data.details.allies.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="bio2title">
		<span class="extra-details">Contacts</span>
		<input
			type="text"
			name="data.details.contacts.value"
			placeholder="Contacts"
			value="{{data.details.contacts.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="bio2title">
		<span class="extra-details">Enemies</span>
		<input
			type="text"
			name="data.details.enemies.value"
			placeholder="Enemies"
			value="{{data.details.enemies.value}}"
			data-dtype="String"
		/>
	</div>
	<div class="bio2title">
		<span class="extra-details">Residence</span>
		<input
			type="text"
			name="data.details.residence.value"
			placeholder="Residence"
			value="{{data.details.residence.value}}"
			data-dtype="String"
		/>
	</div>
</div>
