<h2>Skills</h2>
<div class="skill-section">
	<div class="skill-column">
		<span class="skill-type">Mental (-3 unskilled)</span>
		<div class="skill">
			<span><a class="roll-pool" data-skill="academics">Academics</a></span>
			<input
				type="number"
				name="data.skills.academics.value"
				value="{{data.skills.academics.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="computer">Computer</a></span>
			<input
				type="number"
				name="data.skills.computer.value"
				value="{{data.skills.computer.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="crafts">Crafts</a></span>
			<input
				type="number"
				name="data.skills.crafts.value"
				value="{{data.skills.crafts.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span
				><a class="roll-pool" data-skill="investigation">Investigation</a></span
			>
			<input
				type="number"
				name="data.skills.investigation.value"
				value="{{data.skills.investigation.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="medicine">Medicine</a></span>
			<input
				type="number"
				name="data.skills.medicine.value"
				value="{{data.skills.medicine.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="occult">Occult</a></span>
			<input
				type="number"
				name="data.skills.occult.value"
				value="{{data.skills.occult.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="politics">Politics</a></span>
			<input
				type="number"
				name="data.skills.politics.value"
				value="{{data.skills.politics.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="science">Science</a></span>
			<input
				type="number"
				name="data.skills.science.value"
				value="{{data.skills.science.value}}"
				data-dtype="Number"
			/>
		</div>
	</div>
	<div class="skill-column">
		<span class="skill-type">Physical (-1 unskilled)</span>
		<div class="skill">
			<span><a class="roll-pool" data-skill="athletics">Athletics</a></span>
			<input
				type="number"
				name="data.skills.athletics.value"
				value="{{data.skills.athletics.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="brawl">Brawl</a></span>
			<input
				type="number"
				name="data.skills.brawl.value"
				value="{{data.skills.brawl.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="drive">Drive</a></span>
			<input
				type="number"
				name="data.skills.drive.value"
				value="{{data.skills.drive.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="firearms">Firearms</a></span>
			<input
				type="number"
				name="data.skills.firearms.value"
				value="{{data.skills.firearms.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="larceny">Larceny</a></span>
			<input
				type="number"
				name="data.skills.larceny.value"
				value="{{data.skills.larceny.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="stealth">Stealth</a></span>
			<input
				type="number"
				name="data.skills.stealth.value"
				value="{{data.skills.stealth.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="survival">Survival</a></span>
			<input
				type="number"
				name="data.skills.survival.value"
				value="{{data.skills.survival.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="weaponry">Weaponry</a></span>
			<input
				type="number"
				name="data.skills.weaponry.value"
				value="{{data.skills.weaponry.value}}"
				data-dtype="Number"
			/>
		</div>
	</div>
	<div class="skill-column">
		<span class="skill-type">Social (-1 unskilled)</span>
		<div class="skill">
			<span><a class="roll-pool" data-skill="animalken">Animal Ken</a></span>
			<input
				type="number"
				name="data.skills.animalken.value"
				value="{{data.skills.animalken.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="empathy">Empathy</a></span>
			<input
				type="number"
				name="data.skills.empathy.value"
				value="{{data.skills.empathy.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="expression">Expression</a></span>
			<input
				type="number"
				name="data.skills.expression.value"
				value="{{data.skills.expression.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span
				><a class="roll-pool" data-skill="intimidation">Intimidation</a></span
			>
			<input
				type="number"
				name="data.skills.intimidation.value"
				value="{{data.skills.intimidation.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="persuasion">Persuasion</a></span>
			<input
				type="number"
				name="data.skills.persuasion.value"
				value="{{data.skills.persuasion.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="socialize">Socialize</a></span>
			<input
				type="number"
				name="data.skills.socialize.value"
				value="{{data.skills.socialize.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="streetwise">Streetwise</a></span>
			<input
				type="number"
				name="data.skills.streetwise.value"
				value="{{data.skills.streetwise.value}}"
				data-dtype="Number"
			/>
		</div>
		<div class="skill">
			<span><a class="roll-pool" data-skill="subterfuge">Subterfuge</a></span>
			<input
				type="number"
				name="data.skills.subterfuge.value"
				value="{{data.skills.subterfuge.value}}"
				data-dtype="Number"
			/>
		</div>
	</div>
</div>
