<h2>Status</h2>
<div class="status-section">
	<div class="item-header">Conditions</div>
	<ol class="items-list">
		{{#each actor.data.inventory.conditions as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
			<a class="item-name">{{item.name}}</a>
			<div class="item-controls">
				<a class="item-control item-edit" title="Edit Item"
					><i class="fas fa-edit"></i
				></a>
				<a class="item-control item-delete" title="Delete Item"
					><i class="fas fa-trash"></i
				></a>
			</div>
		</li>
		{{/each}}
		<li>
			<a class="item-add" data-item-type="condition">+ Add</a>
		</li>
	</ol>

	<div class="item-header">Tilts</div>
	<ol class="items-list">
		{{#each actor.data.inventory.tilts as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
			<a class="item-name">{{item.name}}</a>
			<div class="item-controls">
				<a class="item-control item-edit" title="Edit Item"
					><i class="fas fa-edit"></i
				></a>
				<a class="item-control item-delete" title="Delete Item"
					><i class="fas fa-trash"></i
				></a>
			</div>
		</li>
		{{/each}}
		<li>
			<a class="item-add" data-item-type="tilt">+ Add</a>
		</li>
	</ol>
</div>
