<h2>Mage Traits</h2>

<div class="magetraits-section">
	<div class="item-header">Spells</div>
	<ol class="items-list">
		{{#each actor.data.inventory.spells as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
			<h4 class="item-name">{{item.name}}</h4>
			<div class="item-controls">
				<a class="item-control item-edit" title="Edit Item"
					><i class="fas fa-edit"></i
				></a>
				<a class="item-control item-delete" title="Delete Item"
					><i class="fas fa-trash"></i
				></a>
			</div>
		</li>
		{{/each}}
		<li>
			<a class="item-add" data-item-type="spell">+ Add</a>
		</li>
	</ol>

	<div class="item-header">Attainments</div>
	<ol class="items-list">
		{{#each actor.data.inventory.attainments as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
			<h4 class="item-name">{{item.name}}</h4>
			<div class="item-controls">
				<a class="item-control item-edit" title="Edit Item"
					><i class="fas fa-edit"></i
				></a>
				<a class="item-control item-delete" title="Delete Item"
					><i class="fas fa-trash"></i
				></a>
			</div>
		</li>
		{{/each}}
		<li>
			<a class="item-add" data-item-type="attainment">+ Add</a>
		</li>
	</ol>

	<div class="item-header">Magical Tools</div>
	<ol class="items-list">
		{{#each actor.data.inventory.magicaltools as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
			<h4 class="item-name">{{item.name}}</h4>
			<div class="item-controls">
				<a class="item-control item-edit" title="Edit Item"
					><i class="fas fa-edit"></i
				></a>
				<a class="item-control item-delete" title="Delete Item"
					><i class="fas fa-trash"></i
				></a>
			</div>
		</li>
		{{/each}}
		<li>
			<a class="item-add" data-item-type="magical tool">+ Add</a>
		</li>
	</ol>
</div>
