<div class="form-group">
	<label class="label-text">{{data.praxis.label}}</label>
	<div class="input-box">
		<input
			name="data.praxis.value"
			type="checkbox"
			value="{{data.praxis.value}}"
			data-dtype="Boolean"
			{{checked
			data.praxis.value}}
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.rote.label}}</label>
	<div class="input-box">
		<input
			name="data.rote.value"
			type="checkbox"
			value="{{data.rote.value}}"
			data-dtype="Boolean"
			{{checked
			data.rote.value}}
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.arcanum2.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.arcanum2.value"
			placeholder="[2nd arcanum]"
			value="{{data.arcanum2.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.practice.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.practice.value"
			placeholder="[practice]"
			value="{{data.practice.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.primary.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.primary.value"
			placeholder="[primary factor]"
			value="{{data.primary.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.withstand.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.withstand.value"
			placeholder="[withstand]"
			value="{{data.withstand.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.roteskills.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.roteskills.value"
			placeholder="[rote skills]"
			value="{{data.roteskills.value}}"
			data-dtype="String"
		/>
	</div>
</div>
