<div class="form-group">
	<label class="label-text">{{data.prereq.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.prereq.value"
			placeholder="[prerequisites]"
			value="{{data.prereq.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.xp.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.xp.value"
			value="{{data.xp.value}}"
			min="{{data.xp.min}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.pool.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.pool.value"
			placeholder="[dice pool]"
			value="{{data.pool.value}}"
			data-dtype="String"
		/>
	</div>
</div>
