<div class="form-group">
	<label class="label-text">{{data.prereq.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.prereq.value"
			placeholder="[prerequisites]"
			value="{{data.prereq.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.pool.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.pool.value"
			placeholder="[dice pool]"
			value="{{data.pool.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.target.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.target.value"
			value="{{data.target.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.opposition.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.opposition.value"
			placeholder="[opposition]"
			value="{{data.opposition.value}}"
			data-dtype="String"
		/>
	</div>
</div>
