<div class="form-group">
	<label class="label-text">{{data.renown.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.renown.value"
			placeholder="[renown]"
			value="{{data.renown.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.pool.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.pool.value"
			placeholder="[dice pool]"
			value="{{data.pool.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.action.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.action.value"
			placeholder="[action type]"
			value="{{data.action.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.duration.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.duration.value"
			placeholder="[duration]"
			value="{{data.duration.value}}"
			data-dtype="Number"
		/>
	</div>
</div>
