<div class="form-group">
	<label class="label-text">{{data.bonus.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.bonus.value"
			value="{{data.bonus.value}}"
			min="{{data.bonus.min}}"
			max="{{data.bonus.max}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.mana.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.mana.value"
			value="{{data.mana.value}}"
			min="{{data.mana.min}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.power.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.power.value"
			placeholder="[power]"
			value="{{data.power.value}}"
			data-dtype="String"
		/>
	</div>
</div>
