<div class="form-group">
	<label class="label-text">{{data.bonus.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.bonus.value"
			value="{{data.bonus.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.skill.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.skill.value"
			placeholder="[skill]"
			value="{{data.skill.value}}"
			data-dtype="String"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.availability.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			name="data.availability.value"
			placeholder="[# dots]"
			value="{{data.availability.value}}"
			data-dtype="String"
		/>
	</div>
</div>
