<div class="form-group">
	<label class="label-text">{{data.modifier.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.modifier.value"
			value="{{data.modifier.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.size.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.size.value"
			value="{{data.size.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.durability.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.durability.value"
			value="{{data.durability.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.structure.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.structure.value"
			value="{{data.structure.value}}"
			data-dtype="Number"
		/>
	</div>
</div>

<div class="form-group">
	<label class="label-text">{{data.speed.label}}</label>
	<div class="input-box">
		<input
			class="input-text"
			type="number"
			name="data.speed.value"
			value="{{data.speed.value}}"
			data-dtype="Number"
		/>
	</div>
</div>
